@model IEnumerable<Nvd_lession07.Models.NvdBook>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NvdBookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdPulisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvdCategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NvdBookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdPulisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdPicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NvdCategoryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NvdId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NvdId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NvdId })
        </td>
    </tr>
}

</table>
